<div>
  <form class="card text-white bg-info">
    <div class="card-header"><h1> Envio de Mensajes</h1> </div>
    <div class="card-body">
      <div class="row form-group">
        <label class="col-sm-12 col-md-4">Para</label>
        <input class="form-control col-sm-12 col-md-8 bg-info text-white" type="number" name="txtdesde"
          placeholder="Telefono del destinatario" [(ngModel)]="mensaje.para" />
      </div>
      <div class="row form-group">
        <label class="col-sm-12 col-md-4">Desde</label>
        <input class="form-control col-sm-12 col-md-8 bg-info text-white" type="number" name="txthasta"
          placeholder="Tu telefono" [(ngModel)]="mensaje.desde" />
      </div>
      <label> Longitud de texto: {{tamTexto}} </label>
      <div class="row form-group">
        <textarea class="form-control text-white bg-info" [maxlength]="tamMaxTexto" rows="5" name="txtTexto"
          placeholder="Escribe tu mensaje" [(ngModel)]="mensaje.texto" (ngModelChange)="cambiarTamTexto()">
          </textarea>
      </div>
      <div class="row form-group">
        <button type="button" class="btn btn-outline-light" (click)="enviarMensaje()">Enviar</button>
        <button type="button" class="btn btn-outline-light" (click)="limpiarMensaje()">Limpiar</button>
      </div>
    </div>
  </form>
  <br>
  <div class="card text-white bg-info">
    <div class="card-header"><h1> Listado de Mensajes </h1></div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Para</th>
          <th scope="col">Desde</th>
          <th scope="col">Mensaje</th>
          <th scope="col">Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of mensajes">
          <th scope="row">{{item.desde}} </th>
          <td>{{item.para}}</td>
          <td>{{item.texto}}</td>
          <td>{{item.fecha}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>