<div>
  <form class="card text-white bg-info">
    <div class="card-header"><h1> Asistencia</h1> </div>
    <div class="card-body">
      <div class="row form-group">
        <label class="col-sm-12 col-md-4">Usuario</label>
        <input class="form-control col-sm-12 col-md-8 bg-info text-white" type="email" name="txtUsu"
          placeholder="Ingrese su e-mail" [(ngModel)]="asistente.usuario" />
      </div>
      <div class="row form-group">
        <label class="col-sm-12 col-md-4">Nombre de Organizacion</label>
        <input class="form-control col-sm-12 col-md-8 bg-info text-white" type="text" name="txtOrg"
          placeholder="Ingrese nombre de la Organizacion" [(ngModel)]="asistente.nombreOrganizacion" />
      </div>
      <div class="row form-group">
        <label class="col-sm-12 col-md-4">Necesita constancia?</label>
        <input type="checkbox" name="checkConstancia" [(ngModel)]="asistente.solicitaConstancia">
      </div>
      <div class="row form-group">
        <button type="button" class="btn btn-outline-light" (click)="registrarAsistente()">Registrar</button>
      </div>
    </div>
  </form>
  <br>
  <div class="card text-white bg-info">
    <div class="card-header"> <h1>Registro de asistencia </h1></div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Usuario</th>
          <th scope="col">Organizacion</th>
          <th scope="col">Constancia</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of asistentes">
          <th scope="row">{{item.usuario}} </th>
          <td>{{item.nombreOrganizacion | uppercase }}</td>
          <td>{{item.solicitaConstancia}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>