<div>
    <form #formregistro="ngForm" class="card text-white bg-info">
      <div class="card-header"> <h1>Compra de Pasajes </h1></div>
        <div class="card-body">
          <div class="row form-group">
            <label class="col-sm-12 col-md-4">DNI</label>
            <input class="form-control col-sm-12 col-md-8 bg-info text-white" type="text" id="dnipasajero" name="dnipasajero" placeholder="Ingrese el DNI" required minlength="7" [(ngModel)]="venta.dnipasajero" #dnipasajero="ngModel" />
            <div [hidden]="formregistro.form.valid">
            <div *ngIf="dnipasajero.invalid && (dnipasajero.dirty || dnipasajero.touched)" class="alert alert-danger">
                <div *ngIf="dnipasajero.errors.required">
                    DNI es obligatorio
                </div>
                <div *ngIf="dnipasajero.errors.minlength">
                    DNI ingresado tiene menos de 7 caracteres
                </div>
            </div>
        </div>
        </div>
        <div class="row form-group">
          <label class="col-sm-12 col-md-4" >Precio</label>
          <input class="form-control col-sm-12 col-md-8 bg-info text-white" type="number" id="precio" name="precio" placeholder="Ingrese valor del pasaje" [(ngModel)]="venta.precio"/>
        </div>
        <div class="row form-group">
            <label class="col-sm-12 col-md-4" for="categoria" >Categoria</label>
            <select class="form-control" name="categoria" id="categoria" name="categoria" class="form-control" [(ngModel)]="venta.categoriapasajero" (change)="calcularDescuento()">
                <option value="m">Menor</option>
                <option value="a">Adulto</option>
                <option value="j">Jubilado</option>
                <option value="s" selected>Seleccione ...</option>
            </select>
        </div>

        <div class="row"*ngIf="mostrar">
            <div class="col">Descuento: {{precio_descuento}},   Precio total: {{precio_actual}} </div>
        </div>

        <div class="row form-group">
          <button type="button" class="btn btn-outline-light" (click)="saveVenta()" [disabled]="!formregistro.form.valid" >Enviar</button>
          <button type="button" class="btn btn-outline-light" (click)="limpiarVenta()" >Limpiar</button>            
        </div>
      </div>
    </form>

    <br>

    <div class="card text-white bg-info">
        <div class="card-header"> <h1>Listado de Pasajeros</h1> </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">DNI</th>
              <th scope="col">Precio</th>
              <th scope="col">Categoria</th>
              <th scope="col">Fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ve of vector_ventas">
              <td> {{ve.dnipasajero}} </td>
              <td> {{ve.precio}} </td>
              <td> {{ve.categoriapasajero}} </td>
              <td> {{ve.fechacompra | date:'dd/MM/yyyy' }} </td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>
    